@import 'colors';

.notification {
  // float: right;
  position: absolute;
  top: 5%;
  right: 0;
  background-color: black;
  line-height: 1em;
}

.message {
  color: white;
  // margin: 7%;
  list-style: none;
}
