@import 'colors';

.user-list {
  position: absolute;
  bottom: 0;
  right: 3em;
  background-color: $primary;
  height: 300px;
  width: 250px;
  z-index: 999;
  transform: translate(0,200vh);
  transition: all 0.4s ease;
}

.user-list ul {
 list-style: none;
}

ul {
  display: block;
  margin-top: 100px;
}

li {
  color: $secondary;
}

.user-list.active {
  transform: translateY(0);
}

.user-list-button {
  position: absolute;
  bottom: 0;
  right: 3em;
}
